    <!-- Prelim Score Sheet -->
    <div class="container">
	
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1 class="text-center">{{round}} Competition</h1>
        <h2 class="text-center">{{division}} {{role}}</h2>
      </div>

      <div class="row">

        <div class="col-lg-12">

        <form  action="/contests/{{round}}/{{division}}/{{role}}" method="POST">
        	<div class="form-group">
          	<div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>{{heat}}</strong></h3>
            </div>
            <div class="panel-body">
              <table class="table table-hover" id='prelim-heatOne'>
                <thead>
                  <tr>
                    <th>Bib Number</th>
                    <th>Role</th>
                    <th>Score</th>
                  </tr>
                </thead>
              
                <tbody>
                	{{#each list}}
                	<tr>
    				<td>{{this.bib_number}}</td>
    				<td>{{role}}</td>
    				<td>
    					
						<div class="well">
							<b>YES</b>
            				<input type="text" class="span2 dancer" value="3" name= {{this.bib_number}} id="{{this.bib_number}}" data-slider-max="3"
            				data-slider-min="1" >
            	
            				<b>NO</b>
         				</div>
					</td>
    				</tr>
  					{{/each}}

                </tbody>
                </table>
            
              
            </div>
          	</div>
          	</div>
          	<button class="btn btn-primary" id="score-prelims-btn" type="submit">Submit Scores</button>
        </form>
        </div>

      </div>

    </div>

<!-- BELOW CODE IS CRITICAL. IT HANDLES HOW FORM DATA IS SENT TO OUR SERVER -->
<script type="text/javascript">
$( document ).ready(function() {
   $('.dancer').slider();
});
	
</script>